In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("food_data.csv", names=['id', 'name', 'ingredients', 'description', 'category'], header=0)
df.head()

,id,name,ingredients,description,category
0,0,Kumpir,"Patates, Peynir, Mısır, Sosis, Mayonez","Patates pişirilir, içine peynir, mısır, sosis ...",Potato Dish
1,1,İskender,"Döner Kebap, Yoğurt, Tereyağı, Domates Sosu, E...","Döner et, yoğurt ve tereyağı ile soslanan ekme...",Kebab
2,2,Adana Kebap,"Dana Kıyması, Biber Salçası, Baharatlar, Soğan...",Baharatlarla harmanlanmış dana kıyması şişe di...,Kebab
3,3,Lahmacun,"Kıyma, Soğan, Domates, Biber, Baharatlar","Kıyma ve baharatlarla hazırlanan harç, ince ha...",Turkish Pizza
4,4,Hünkar Beğendi,"Kuzu Etı, Beyaz Un, Süt, Yoğurt, Beyaz Peynir","Kuzu eti haşlanarak rendelenmiş beyaz peynir, ...",Meat Dish

In [30]:
prices = [10.99, 15.50, 18.75, 8.99, 25.99, 12.50, 9.99, 14.99, 22.50, 11.25, 16.75, 7.99, 13.50, 19.95, 11.99, 24.50, 17.25, 9.75, 14.50, 20.00, 23.75, 18.50, 10.25, 12.99, 21.00, 16.50, 19.99, 13.75, 15.00, 23.50, 22.99, 10.50, 17.99, 14.00]

assert len(prices) == len(df)

df.insert(len(df.columns), "price", prices)

In [31]:
df.head()

,id,name,ingredients,description,category,price
0,0,Kumpir,"Patates, Peynir, Mısır, Sosis, Mayonez","Patates pişirilir, içine peynir, mısır, sosis ...",Potato Dish,10.99
1,1,İskender,"Döner Kebap, Yoğurt, Tereyağı, Domates Sosu, E...","Döner et, yoğurt ve tereyağı ile soslanan ekme...",Kebab,15.50
2,2,Adana Kebap,"Dana Kıyması, Biber Salçası, Baharatlar, Soğan...",Baharatlarla harmanlanmış dana kıyması şişe di...,Kebab,18.75
3,3,Lahmacun,"Kıyma, Soğan, Domates, Biber, Baharatlar","Kıyma ve baharatlarla hazırlanan harç, ince ha...",Turkish Pizza,8.99
4,4,Hünkar Beğendi,"Kuzu Etı, Beyaz Un, Süt, Yoğurt, Beyaz Peynir","Kuzu eti haşlanarak rendelenmiş beyaz peynir, ...",Meat Dish,25.99

In [32]:
df.to_csv('food_data_1.csv', index=False)

In [126]:
df1 = pd.read_csv("food_data_1.csv")
df1.columns = ['meal_id', 'name', 'ingredients', 'description', 'category', 'price']
df1

,meal_id,name,ingredients,description,category,price
0,0,Kumpir,"Patates, Peynir, Mısır, Sosis, Mayonez","Patates pişirilir, içine peynir, mısır, sosis ...",Potato Dish,10.99
1,1,İskender,"Döner Kebap, Yoğurt, Tereyağı, Domates Sosu, E...","Döner et, yoğurt ve tereyağı ile soslanan ekme...",Kebab,15.50
2,2,Adana Kebap,"Dana Kıyması, Biber Salçası, Baharatlar, Soğan...",Baharatlarla harmanlanmış dana kıyması şişe di...,Kebab,18.75
3,3,Lahmacun,"Kıyma, Soğan, Domates, Biber, Baharatlar","Kıyma ve baharatlarla hazırlanan harç, ince ha...",Turkish Pizza,8.99
4,4,Hünkar Beğendi,"Kuzu Etı, Beyaz Un, Süt, Yoğurt, Beyaz Peynir","Kuzu eti haşlanarak rendelenmiş beyaz peynir, ...",Meat Dish,25.99
5,5,Ali Nazik Kebabı,"Bostan Patlıcanı, Yoğurt, Sarımsak, Zeytinyağı...","Bostan patlıcanı közlenip ezilir, yoğurt, sarı...",Kebab,12.50
6,6,Baklava,"Yufka, Ceviz, Şeker, Su, Tereyağı",Yufka katları arasına ceviz içi konularak hazı...,Dessert,9.99
7,7,Balık Tava,"Balık, Un, Limon, Tuz, Zeytinyağı","Balıklar una bulanıp tavada kızartılarak, üzer...",Seafood,14.99
8,8,Beyti Kebap,"Dana Kıyması, Baharatlar, Yoğurt, Tereyağı, Do...","Baharatlı dana kıyması, şişe sarılıp mangalda ...",Kebab,22.50
9,9,Börek,"Yufka, Peynir, Yumurta, Süt, Tereyağı",Yufka katları arasına peynir ve yumurta karışı...,Pastry,11.25
10,10,Ciğer Sote,"Ciğer, Soğan, Yeşil Biber, Domates, Baharatlar","Ciğerler doğranıp sotelenerek, üzerine doğranm...",Meat Dish,16.75
11,11,Çiğ Köfte,"İnce Bulgur, Kırmızı Mercimek, Soğan, Domates ...","İnce bulgur, kırmızı mercimek, soğan ve bahara...",Appetizer,7.99
12,12,Çılbır,"Yumurta, Yoğurt, Sarımsak, Tereyağı, Sirke","Haşlanmış yumurtalar, yoğurt ve sarımsak sosu ...",Egg Dish,13.50
13,13,Tavuk Döner,"Tavuk Göğsü, Yoğurt, Baharatlar, Limon, Sarımsak","Marine edilmiş tavuk göğsü, döner şeklinde piş...",Kebab,19.95
14,14,Fırın Makarna,"Makarna, Béchamel Sos, Kaşar Peyniri, Domates ...","Makarna haşlanır, üzerine béchamel sos, kaşar ...",Pasta,11.99
15,15,Fırın Tavuk,"Tavuk, Zeytinyağı, Baharatlar, Limon, Soğan","Tavuk parçaları baharatlarla marine edilir, fı...",Meat Dish,24.50
16,16,Hamsi Tava,"Hamsi, Un, Limon, Tuz, Zeytinyağı","Hamsiler una bulanıp kızartılarak, limon ve ze...",Seafood,17.25
17,17,Havuç Tarator,"Havuç, Yoğurt, Sarımsak, Zeytinyağı, Tuz","Rendelenmiş havuç, yoğurt, sarımsak ve zeytiny...",Salad,9.75
18,18,İmam Bayıldı,"Patlıcan, Domates, Soğan, Sarımsak, Zeytinyağı","Patlıcanlar kızartılıp, içine domates, soğan v...",Vegetable Dish,14.50
19,19,İskilip Dolması,"Kuzu Kıyması, Pirinç, Soğan, Nane, Tuz",Pirinç ve kuzu kıyması karışımı ile hazırlanan...,Stuffed Grape Leaves,20.00
20,20,İslim Kebap,"Kuzu Etı, Patates, Soğan, Domates, Baharatlar","Kuzu eti, patates ve baharatlarla hazırlanan k...",Kebab,23.75
21,21,Ispanaklı Karnabahar,"Ispanak, Karnabahar, Soğan, Sarımsak, Zeytinyağı","Ispanak ve karnabahar, soğan ve sarımsaklı sos...",Vegetable Dish,18.50
22,22,Kadayıf,"Kadayıf, Ceviz, Şeker, Su, Tereyağı",Kadayıf katları arasına ceviz içi konularak ha...,Dessert,10.25
23,23,Karides Güveç,"Karides, Domates, Soğan, Sarımsak, Zeytinyağı",Karides ve sebzeler soslanıp güveçte fırında p...,Seafood,12.99
24,24,Karnabahar Kızartması,"Karnabahar, Un, Yumurta, Tuz, Zeytinyağı","Karnabahar, una bulanıp yumurta ile kaplanarak...",Vegetable Dish,21.00
25,25,Kavurmalı Pilav,"Dana Kavurma, Pirinç, Soğan, Baharatlar, Tereyağı","Dana kavurma, pirinç ve baharatlarla hazırlana...",Rice Dish,16.50
26,26,Kısır,"Bulgur, Domates Salçası, Limon Suyu, Nane, Soğan","Bulgur, domates salçası ve baharatlarla hazırl...",Salad,19.99
27,27,Kuzu Güveç,"Kuzu Etı, Patates, Soğan, Domates, Baharatlar","Kuzu eti, sebzeler ve baharatlar güveçte fırın...",Meat Dish,13.75
28,28,Kuzu İncik,"Kuzu İncik, Soğan, Sarımsak, Zeytinyağı, Bahar...","Kuzu incik, soğan ve baharatlarla marine edili...",Meat Dish,15.00
29,29,Kuzu Kelle Paça Çorbası,"Kuzu Kelle Paça, Soğan, Limon, Baharatlar, Nohut","Kuzu kelle paça, soğan ve baharatlarla kaynatı...",Soup,23.50
30,30,Kuzu Tandır,"Kuzu Etı, Yoğurt, Baharatlar, Limon, Sarımsak","Kuzu eti, yoğurtlu sos ve baharatlarla marine ...",Meat Dish,22.99
31,31,Künefe,"Tel Kadayıf, Peynir, Şeker, Su, Tereyağı",Tel kadayıf katları arasına peynir konularak h...,Dessert,10.50
32,32,Mantı,"Dana Kıyması, Un, Yoğurt, Sarımsak, Tereyağı","İnce hamurla yapılan mantı, içine kıyma konula...",Pasta,17.99
33,33,Mercimek Çorbası,"Kırmızı Mercimek, Soğan, Domates, Tereyağı, Ba...","Kırmızı mercimek, soğan ve baharatlarla hazırl...",Soup,14.00

In [39]:
users = [{'user_id': i, 'user_name': f'user{i}', 'email': f'user{i}@flavorguide.com', 'password': '12345'} for i in range(5)]

In [40]:
users

[{'user_id': 0,
  'user_name': 'user0',
  'email': 'user0@flavorguide.com',
  'password': '12345'},
 {'user_id': 1,
  'user_name': 'user1',
  'email': 'user1@flavorguide.com',
  'password': '12345'},
 {'user_id': 2,
  'user_name': 'user2',
  'email': 'user2@flavorguide.com',
  'password': '12345'},
 {'user_id': 3,
  'user_name': 'user3',
  'email': 'user3@flavorguide.com',
  'password': '12345'},
 {'user_id': 4,
  'user_name': 'user4',
  'email': 'user4@flavorguide.com',
  'password': '12345'}]

In [44]:
pd.DataFrame(users).to_csv('users.csv', index=False)

In [45]:
pd.read_csv('users.csv')

   user_id user_name                  email  password
0        0     user0  user0@flavorguide.com     12345
1        1     user1  user1@flavorguide.com     12345
2        2     user2  user2@flavorguide.com     12345
3        3     user3  user3@flavorguide.com     12345
4        4     user4  user4@flavorguide.com     12345

In [46]:
import random

In [50]:
min(df1['price'])

7.99

In [98]:
orders1 = [{'order_id': i,
            'user_id': 0, 
            'meal_id': random.choice(df1['id']),
            'quantity': random.randint(1, 5),
        } for i in range(100)]

In [99]:
orders1[1:10]

[{'order_id': 1, 'user_id': 0, 'meal_id': 31, 'quantity': 1},
 {'order_id': 2, 'user_id': 0, 'meal_id': 12, 'quantity': 5},
 {'order_id': 3, 'user_id': 0, 'meal_id': 0, 'quantity': 5},
 {'order_id': 4, 'user_id': 0, 'meal_id': 10, 'quantity': 4},
 {'order_id': 5, 'user_id': 0, 'meal_id': 20, 'quantity': 5},
 {'order_id': 6, 'user_id': 0, 'meal_id': 16, 'quantity': 2},
 {'order_id': 7, 'user_id': 0, 'meal_id': 18, 'quantity': 4},
 {'order_id': 8, 'user_id': 0, 'meal_id': 13, 'quantity': 2},
 {'order_id': 9, 'user_id': 0, 'meal_id': 6, 'quantity': 5}]

In [100]:
orders2 = [{'order_id': i + 100,
            'user_id': 1, 
            'meal_id': random.choice(df1['id']),
            'quantity': random.randint(1, 5),
        } for i in range(100)]

In [101]:
orders3 = [{'order_id': i + 100 * 2,
            'user_id': 2, 
            'meal_id': random.choice(df1['id']),
            'quantity': random.randint(1, 5),
        } for i in range(100)]

In [102]:
orders4 = [{'order_id': i + 100 * 3,
            'user_id': 3, 
            'meal_id': random.choice(df1['id']),
            'quantity': random.randint(1, 5),
        } for i in range(100)]

In [103]:
orders = []
orders.extend(orders1)
orders.extend(orders2)
orders.extend(orders3)
orders.extend(orders4)

In [104]:
orders_table = pd.DataFrame(orders)

In [105]:
orders_table['order_id'].duplicated

<bound method Series.duplicated of 0        0
1        1
2        2
3        3
4        4
      ...
395    395
396    396
397    397
398    398
399    399
Name: order_id, Length: 400, dtype: int64>

In [106]:
orders_table.loc[100]

order_id    100
user_id       1
meal_id       5
quantity      3
Name: 100, dtype: int64

In [108]:
del orders_table['quantity']

In [109]:
orders_table

     order_id  user_id  meal_id
0           0        0        4
1           1        0       31
2           2        0       12
3           3        0        0
4           4        0       10
..        ...      ...      ...
395       395        3        8
396       396        3       32
397       397        3       15
398       398        3        4
399       399        3        4

[400 rows x 3 columns]

In [117]:
user0_orders = orders_table[orders_table['user_id'] == 0]
user0_orders

    order_id  user_id  meal_id
0          0        0        4
1          1        0       31
2          2        0       12
3          3        0        0
4          4        0       10
..       ...      ...      ...
95        95        0       15
96        96        0       10
97        97        0       33
98        98        0       12
99        99        0       19

[100 rows x 3 columns]

In [129]:
user0_orders = pd.merge(df1, user0_orders, on='meal_id', how='inner')

In [132]:
user0_orders.to_csv('user0_orders', index=False)

In [137]:

for i in range(0, 4):
    user_orders = orders_table[orders_table['user_id'] == i]
    user_orders = pd.merge(df1, user_orders, on='meal_id', how='inner')
    user_orders.to_csv(f'user{i}_orders.csv', index=False)

In [136]:
orders_table.to_csv('orders.csv', index=False)